.header{
    display: flex;
    background-color: rgb(1, 1, 50);
    height:120px;
    align-items: center;
    
}

.content{
    padding-left: 130px;
    color: rgb(195, 190, 185);
    display: flex;
    flex-direction: column;
    gap:10px;
    
}

.contentTitle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.contentPara{
    font-family: 'Times New Roman', Times, serif    ;
    font-size: 18px;
}